* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  MAIN PROJECT SECTION CSS STARTS  */

.main-project-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding-right: 4vw;
  background-color: #fff;
}

.img-gallery {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background-color: #00000061;
  padding: 4vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.gallery-close {
  position: absolute;
  color: #ce4141;
  z-index: 2;
  right: 1%;
  cursor: pointer;
  font-size: 2vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-main-section {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 2vw;
  row-gap: 30px;
}

.single-project-card {
  box-shadow: 0px 3px 7px 0px #00000014;
  box-shadow: 0px 14.01px 14.01px 0px #00000012;
  box-shadow: 0px 30.01px 18.01px 0px #0000000a;
  box-shadow: 0px 54.03px 22.01px 0px #00000003;
  box-shadow: 0px 85.04px 24.01px 0px #00000000;
  border: 0.8px solid #d9d9d9;
  width: 30%;
  border-radius: 19.39px;
  position: relative;
  text-decoration: none;
  color: initial;
  overflow: hidden; /* To ensure the button does not overflow */
}

.image-container {
  position: relative;
  background-color: rebeccapurple;
  opacity: 0;
}

.view-button {
  position: absolute;
  top: -50px; /* Initially above the image */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(
    --color-white
  ); /* Replace with your desired button color */
  color: #000;
  padding: 20px;
  font-size: 20px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: top 0.5s ease, opacity 0.5s ease; /* Animation for moving and fading in */
}

.single-project-card:hover .view-button {
  top: 35%; /* Move the button to the center of the image */
  opacity: 1; /* Fade in the button */
  transform: translate(-50%, -50%); /* Center the button */
  cursor: grab;
}
.circle1 {
  position: absolute;
  margin: auto;
  margin-right: 0px;
  width: 1px;
  height: 1px;
  background-color: #000;
  transition: all 0.5s;
  opacity: 0.5;
}

.single-project-card:hover .circle1 {
  background-color: #000;
  width: 100%;
  height: 65%;
  transition: all 0.5s;
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.info-section h1 {
  color: var(--color-red);
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.info-section p {
  font-size: 15px;
  letter-spacing: 0.02rem;
  line-height: 20px;
}

.single-project-card:hover .project-info img[alt="arrow-image"] {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.project-left-section {
  padding-left: 40px;
}
.size-filter h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  color: var(--color-dark-gray);
}

.size-filter ul li {
  font-size: 16.67px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-dark-gray);
  position: relative; /* Sets up positioning for the pseudo-element */
  padding-right: 20px; /* Adds space for the arrow */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: color 0.3s ease; /* Smooth transition for text color */
}
.size-filter ul li:hover {
  color: var(--color-red);
  font-weight: 600;
}
.size-filter ul li::after {
  content: "\2192"; /* Unicode for right arrow (→) */
  position: absolute;
  right: 0%; /* Positions arrow to the right */
  opacity: 0; /* Makes the arrow initially invisible */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for appearance */
  transform: translateX(-5px);
  font-size: 30px;
  color: var(--color-red);
}
.size-filter ul li:hover::after {
  opacity: 1; /* Makes the arrow visible on hover */
  transform: translateX(0); /* Resets the shift */
}
.sector-top-margin {
  margin-top: 30px;
}
.show-all-projects h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  color: var(--color-red);
}

.project {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000058;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-overlay > h1 {
  position: relative;
  font-weight: 300;
  font-size: 6vw;
  color: #ffffff;
  z-index: 2;
}

.project-overlay video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.398);
}

.menu {
  position: absolute;
  top: 0%;
  left: 100%;
  height: 100vh;
  width: 40%;
  padding: 2vw 2.4vw;
  padding-bottom: 4vw;
  z-index: 9;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.menu-left {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #6d6d6d;
  padding-top: 4vw;
}

.menu-elem {
  height: 2vw;
  width: fit-content;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
}

.menu-elem > h1 {
  position: relative;
  font-size: 2vw;
  line-height: 1;
  font-weight: 500;
  /* transition: all ease 0.2s; */
}

.menu-elem > h1:hover {
  color: #ce4141;
}

.menu-right-socials {
  position: relative;
  display: flex;
  align-items: end;
  gap: 4vw;
}

.menu-right {
  position: relative;
  height: 100%;
  color: #ce4141;
}

.menu-right > i {
  font-size: 2vw;
}

.media {
  display: flex;
  gap: 1vw;
}

.media i {
  font-size: 1.4vw;
}

.email {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-top: 1vw;
}

.phone {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-top: 1vw;
}

nav {
  position: relative;
  width: 100%;
  padding: 1vw 10.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  backdrop-filter: blur(5px);
  z-index: 3;
}

.nav-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.nav-right select {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
}

.nav-right option {
  color: black;
}

.menu-close {
  cursor: pointer;
}

.nav-right i {
  font-size: 1.2vw;
}

@media (max-width: 1200px) {
  .nav-right i {
    font-size: 2.2vw;
  }

  .footer-bottom > p {
    font-size: 1.3vw;
  }

  .footer-bottom-right {
    font-size: 1.2vw;
  }

  .footer-top > img {
    height: 4vw;
  }
}

@media (max-width: 992px) {
  .single-project-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 2vw;
  }

  .project-overlay {
    height: 100%;
  }

  .menu {
    height: 100%;
  }

  .menu-elem {
    height: 3vw;
  }

  .menu-elem > h1 {
    font-size: 3vw;
  }

  .project {
    height: 60vh;
  }

  .nav-right i {
    font-size: 3.2vw;
  }

  .single-project-card {
    height: 60vh;
  }

  .img-container img {
    height: 20vh;
    object-fit: cover;
  }

  .project-info img {
    display: none;
  }

  .project-left-section {
    padding-left: 10px;
  }

  .project-card-main-section {
    justify-content: end;
  }

  .single-project-card {
    width: 100%;
  }

  .footer {
    padding: 2vw;
  }

  .footer-top > img {
    height: 8vw;
  }

  .footer-top-right i {
    font-size: 4.3vw;
  }

  .footer-bottom > p {
    font-size: 2.6vw;
  }

  .footer-bottom a {
    font-size: 2.6vw;
  }

  .footer-top-right a {
    font-size: 2vw;
  }

  .footer-bottom {
    gap: 3vw;
    align-items: center;
    flex-direction: column;
  }

  .media i {
    font-size: 3.4vw;
  }

  .email {
    display: none;
  }

  .ri-close-large-fill:before {
    content: "\f4c7";
    font-size: 4vw;
  }

  .search > i {
    font-size: 2.3vw;
  }

  .search > input {
    padding: 0.6vw 1.2vw;
    width: 60%;
    border-radius: 0.5vw;
    font-size: 2vw;
    outline: none;
  }
}

@media (max-width: 600px) {
  .menu {
    height: 100%;
  }

  .menu-elem {
    height: 4.5vw;
  }

  .menu-elem > h1 {
    font-size: 4vw;
  }

  .single-project-card {
    height: fit-content;
  }

  nav {
    padding: 1vw 2vw;
  }

  nav img {
    height: 8vh;
    object-fit: cover;
  }

  .nav-right i {
    font-size: 6.2vw;
  }

  .nav-right {
    gap: 6vw;
  }

  .footer {
    padding: 2vw;
  }

  .footer-top > img {
    height: 10vw;
  }

  .footer-top-right i {
    font-size: 4.3vw;
  }

  .footer-bottom > p {
    font-size: 2.6vw;
  }

  .footer-bottom a {
    font-size: 2.6vw;
  }

  .footer-top-right a {
    font-size: 2vw;
  }

  .footer-bottom {
    gap: 3vw;
    align-items: center;
    flex-direction: column;
  }

  .media i {
    font-size: 3.4vw;
  }

  .email {
    display: none;
  }

  .ri-close-large-fill:before {
    content: "\f4c7";
    font-size: 4vw;
  }

  .search > i {
    font-size: 2.3vw;
  }

  .search > input {
    padding: 0.6vw 1.2vw;
    width: 60%;
    border-radius: 0.5vw;
    font-size: 2vw;
    outline: none;
  }
}
